{{- if .IsNamedParams -}}
<div class="calendly-inline-widget" data-url="{{ .Get "url" }}" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
{{- end -}}

